extends  archivoBase


block contenido
    .container
        h1.textoCentro #{nombrePagina} - #{actividades.nombre}


        //- //objeto Form
        form.fondo(action= `/actividades/${actividades.idActividades}` method="POST" )
            .form-floating.mb-3
                input.form-control(type="text" name="tarea" placeholder="Nombre de la Tarea")
                label.text-dark(for="floatingInput") Tareas:
            .campo.enviar
                input.btn.btn-primary(type="submit", value="Agregar Tarea")
        //- //Objeto Lista 

        .avance
            h2.textoCentro Barra de Tarea completa
            #progress-bar.progress-bar-striped.bg-warning.barra-body
                #subirPorcentaje.subirPorcentaje

        //-   insertamos join con JS

        .ver-lista-tareas
            ul
              if tareas.length
                each tarea in tareas
                    li.tarea(data-tarea=tarea.id)
                        p= tarea.tarea
                        .acciones
                            if !tarea.disponibilidad
                                i.fas.fa-check-double
                            else    
                                i.fas.fa-check-double.marcado
                            i.fas.fa-minus-circle   
                            
              else
                p no hay tareas                   


        //- pre= ArregloLimpiado(tareas)   

        //Botones Objeto
        .container-fluid.botones-Abajos
            a(href=`/actividades/edita/${actividades.id}` class="btn btn-outline-primary") Editar Actividad
            button#eliminar-actividad(data-acividades-id=actividades.idActividades type="button" class="btn btn-outline-danger") Borrar actividad